{% extends "tasks/base.html" %}

{% block content %}

<form method="post" action="{% url 'tasks:index' %}" class="form" >
  {% csrf_token %}
  {{ form.title }}
  <button name="submit" class="add-btn">Add</button>
</form>

<div class="tasks">
  {% for task in tasks %}
    {% if task.complete == False %}
      <div class="task">
        <div class="task-name"><p>{{ task }}</p></div>
        <div class="task-options">
          <a href="{% url 'tasks:edit' task.id %}" class="edit-btn">Edit</a>
          <a href="{% url 'tasks:delete' task.id %}" class="delete-btn">Delete</a>
        </div>
      </div>
    {% else %}
      <div class="task">
        <div class="task-name">
          <p><s>{{ task }}</s></p>
        </div>
        <div class="task-options">
          <a href="{% url 'tasks:edit' task.id %}" class="edit-btn">Edit</a>
          <a href="{% url 'tasks:delete' task.id %}" class="delete-btn">Delete</a>
        </div>
      </div>
    {% endif%}
  {% endfor %}
</div>

{% endblock content %}